
/* Estilos para la vista de PC */
header {
    background-color: #EAC926; /* Ajusta el color de fondo según tus necesidades */
}


header img {
    margin-right: 1200px; /* Ajusta el margen según sea necesario */
}

.form-mensaje{
    display: flex;
}

.search-form {
    flex: 1;
    display: flex;
    align-items: center;
}

.search-form form {
    display: flex;
    align-items: center;
    margin: 0 auto; /* Centra horizontalmente el formulario */
}

.search-form input[type="text"] {
    font-size: 18px; /* Ajusta el tamaño de la letra según tus necesidades */
    padding: 10px 15px; /* Ajusta el espaciado interno (padding) según tus necesidades */
    width: 300px; /* Ajusta el ancho del input según tus necesidades */
}

.search-form button {
    font-size: 18px; /* Ajusta el tamaño de la letra según tus necesidades */
    padding: 10px 15px; /* Ajusta el espaciado interno (padding) según tus necesidades */
    background-color: white;
    border: 0cm;
}

.compracuotas {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.enlaces-container {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.enlace1 {
    display: flex;
    gap: 40px;
    font-size: 15px;
}

.enlace2 {
    display: flex;
    gap: 40px;
    font-size: 15px;
}

/* Agrega este código en tu archivo CSS */
.enlace1 a,
.enlace2 a {
    color: #000000; /* Cambia este valor al color deseado */
    text-decoration: none; /* Elimina la subrayado de los enlaces si lo deseas */
}

/* Cambiar color al pasar el mouse por encima */
.enlace1 a:hover,
.enlace2 a:hover {
    color: #0906bd; /* Cambia este valor al color deseado al pasar el mouse */
}

body{
    background-color: rgb(231, 231, 243)
}

.login-form {
    margin: 20px auto; /* Ajusta el margen vertical y centrado horizontal del formulario */
    padding: 20px; /* Ajusta el espaciado interno (padding) del formulario */
    max-width: 400px; /* Ajusta el ancho máximo del formulario */
    background-color: #f5f5f5; /* Ajusta el color de fondo del formulario */
}

.login-form label,
.login-form input,
.login-form button {
    display: block;
    margin-bottom: 10px; /* Espaciado entre elementos */
    width: 100%; /* Ancho completo de los elementos */
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 380px; /* Ancho completo del input */
    padding: 10px; /* Ajusta el espaciado interno (padding) del input */
    font-size: 16px; /* Ajusta el tamaño de la letra del input */
    border: none; /* Quita el borde */
    border-radius: 8px; /* Redondea las esquinas */
    background-color: #ffffff; /* Ajusta el color de fondo del input */
}

.login-form button[type="submit"] {
    background-color: rgb(14, 10, 255); /* Cambia el color del botón a rojo (RGB) */
    color: #fff; /* Cambia el color del texto del botón a blanco */
    padding: 10px 15px; /* Ajusta el espaciado interno (padding) del botón */
    font-size: 16px; /* Ajusta el tamaño de la letra del botón */
    border: none; /* Quita el borde */
    border-radius: 8px; /* Redondea las esquinas */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Ajusta el tamaño de letra y otros estilos según sea necesario */
